@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}

.main{
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/30c8b9f4-3db9-4b3b-a1ee-8fa56531b712/web/NP-en-20251201-TRIFECTA-perspective_c9c8964d-98a6-41d8-8e1a-0829b83f80cc_large.jpg );
    height: 90vh;
    position: relative;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: max(1200px , 100vw);
}
.main .box{
    height: 90vh;
    width: 100%;
    opacity: 0.6;
    background-color: black;
    position: absolute;
    top: 0;
}
nav{
   
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    height: 62px;
     position: relative;
    z-index: 10;
    top: 15px;
}
nav img{
    color: red;
    position: relative;
    z-index: 10;
    height: 100%;
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(23,23,23,0.2);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}
.btn-red{
   background-color: red;
color: white;
border-radius: 5px;
}
.btn-red-sm{
background-color: red;
border-radius: 5px;color: white;
}
.content{
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   
    position: relative;
    z-index: 10;
    flex-wrap: nowrap;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    gap: 30px;
    text-align: center;
    
}
.content> :first-child{
    
    font-size: 50px;
}
.content> :nth-child(2){
   
    font-size: 20px;
}
.content :nth-child(3){
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
.main input{
   background-color: rgba(23,23,23,0.2);
   border: 1px solid white;
   border-radius: 3px;

}
.separation{
    background-color: gray;
    height: 5px;
}
